body {
 /*   background-color: #c3f7f5;
 background-color: #defffd;*/
 background-color: #faffff;
 font-size: 1.6rem;
}

a {
    color: #1E9DC4;
}

h1 {
  color: #2291A3 ;
  padding-top: 2rem;
}
.h1 {
    
  color: #2291A3;
  font-weight: 600;
  text-align: center;
  font-size: 3.5rem;
}

h2 {
   color: black ;
  font-size: 2.8rem;
}

p {
    color: #161717;
}

hr {
   
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1.5px 0 0 0; 
  border-radius: 20px; 
  width: 80%;
  margin-top: 8rem;
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1.5px 0; 
  border-radius: 20px; 
}



/*

.col {
    max-width: none;
}


#personal {
    position: relative;
	width: 33.3333%;
	
	float: left;
}

#imgMid {
    position: relative;
    width: 33.3333%;
    text-align: center;
    
}

#my-img {
  height: auto;
}

#details {
    width: 33.3333%;
    float: right;
    position: relative;
}
*/

.about {
  margin-top: 2rem;
  display: flex;
align-content: center;
justify-content: center;
padding-bottom: 3rem;
}

.about h2 {
   color: #2291A3 ;
}

#aboutHead {
  text-align: center;
  padding-top: 2rem;
  font-weight: 500;
}



#my-img {
  padding-top: 2rem;
}

.rowAbout:after {
  content: "";
  display: table;
  clear: both;
}

.column-left{ 
  float: left;
  width: 33.3333%;
}
.column-right{ 
  float: right;
  width: 33.3333%;
}
.column-center{ 
  display: inline-block; 
  width: 33.3333%; 
  text-align: center;
}




#list-item {
  color: #111212;
  font-weight: 700;
}

.detail-list {
    list-style: none;
    padding-left: 0;
    color: #161717;
}

.detail-list p {
  padding-top: 0.8rem;
  margin: 0;
}


.mySkills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #161717;
}

.mySkills h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.skills {
  width: 50%;
  
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: #24d680;
  border-radius: 8px;
  width: 0%;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.TheContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.TheContainer h1 {
  padding-bottom: 2rem;
}


.qualRow {
    
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


.qualRow:after {
  content: '';
  display: table;
  clear: both;
}

.exCol1{ 
    float: left;
    width: 30%;
    position: relative;
    min-height: 1px;
    
}
.exCol2 {
    width: 65%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    
    padding-left: 3rem;
}

#timePeriod {
    color: #1E9DC4;
}


#quali {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HEROOOO*/

#matrix-hero {
  max-width: 100%;
  background-color: #001;
  position: relative;
  z-index: 10;
}

/* navigation */


  /* The sidebar menu */
.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 30%; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-left: 2.2rem;
  border-radius: 10px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

a:active {
    background-color: #00cfff;
}



/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  display: block;
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #2291A3;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */




@media screen and (max-width: 1000px) {
  
  .TheContainer {
    width: 80%;
  }
  
  p {
    font-size: 1.8rem;
  }
  
    #my-img:before {
        width: 130px;
        height: auto;
    }
  
  .column-left {
    width: 100%;
    
  }
  
  .column-right {
    width: 100%;
  }
  
  .column-center {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  .exCol1 {
    width: 100%;
    padding-top: 3rem;
  }
  
  .exCol2 {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
  }
  
  .qualRow {
    
      padding-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    
 /* .sidenav {
    width: 15%;
    margin-left: 1rem;
  }
  .sidenav a {
    font-size: 18px;
    text-align: center;
    
  }*/
  
  
  
  
}


 /*MOBILE MENU */
   /* Style the navigation menu */
.mobileMenu {
  overflow: hidden;
  background-color: #24a7f2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.mobileMenu #myLinks {
  display: none;
}

/* Style navigation menu links */
.mobileMenu a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

/* Style the hamburger menu */
.mobileMenu a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: white;
}

.mobileMenu a.icon:hover {
  background: #515151;
}

/* Add a grey background color on mouse-over */
.mobileMenu a:hover {
  background-color: #c7f7f7;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #24a7f2;
  color: white;
} 
  
  .mobileMenu {
    display: none;
  }

@media screen and (max-device-width : 640px) {
  .mobileMenu {
    display: block;
  }
  
  .sidenav {
    display: none;
  }
}

@media screen and (max-device-width: 768px) {
.mobileMenu {
    display: block;
  }
  
  .sidenav {
    display: none;
  }
  
  .TheContainer {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .mobileMenu {
    display: block;
  }
  
  .sidenav {
    display: none;
}

.TheContainer {
    width: 100%;
  }

}

/*LANGUAGES*/

/* Import the Google Font 'Lato'  @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);*/


/* Container styles */


.lang {
  padding: 50px 0;
  text-align: center;
  padding: 2rem;
}

.chart {
  position: relative;
  display: inline-block;
  color: #131313;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
}

.chart h2 {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

/* END Container styles */

/* Colors for the circles and positions for the graphics */



.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #ba1616;
}



.chart svg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}

.outer {
  fill: transparent;
  stroke: #16ba9f;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-90deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}






/* END Keyframes for the initial animation */

/*CONTACT ME */

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2291A3;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #23BFD9;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #161717;
}

/* Create two columns that float next to eachother */
.column {
  width: 50%;
  margin-top: 2rem;
  padding: 1rem;
}


/* Clear floats after the columns */
.Crow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}