body {
 /*   background-color: #c3f7f5;
 background-color: #defffd;*/
 background-color: #edf7f7;
}

a {
    color: #24a7f2;
}

h1 {
  color: #00a4d6 ;
  padding-top: 2rem;
}
.h1 {
    
  color: #00a4d6;
  font-weight: 600;
  text-align: center;
}

p {
    color: #161717;
}

hr {
   
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1.5px 0 0 0; 
  border-radius: 20px; 
  width: 80%;
  margin-top: 8rem;
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1.5px 0; 
  border-radius: 20px; 
}



/*

.col {
    max-width: none;
}


#personal {
    position: relative;
	width: 33.3333%;
	
	float: left;
}

#imgMid {
    position: relative;
    width: 33.3333%;
    text-align: center;
    
}

#my-img {
  height: auto;
}

#details {
    width: 33.3333%;
    float: right;
    position: relative;
}
*/

.about {
  margin-top: 2rem;
  margin-right: 7rem;
  margin-left: 7rem;
}

#aboutHead {
  text-align: center;
  padding-top: 2rem;
  font-weight: 500;
}

.rowAbout h1 {
  
  text-decoration: underline;
}

#my-img {
  padding-top: 2rem;
}

.rowAbout:after {
  content: "";
  display: table;
  clear: both;
}

.column-left{ 
  float: left;
  width: 33.3333%;
}
.column-right{ 
  float: right;
  width: 33.3333%;
}
.column-center{ 
  display: inline-block; 
  width: 33.3333%; 
  text-align: center;
}




#list-item {
  color: #00a4d6;
  font-weight: 700;
}

.detail-list {
    list-style: none;
    padding-left: 0;
    color: #161717;
}

.detail-list p {
  padding-top: 0.8rem;
  margin: 0;
}


.mySkills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  color: #161717;
}

.mySkills h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.skills {
  width: 60%;
  
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: #24d680;
  border-radius: 8px;
  width: 0%;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

/*Qualifications

padding-right: 15px;
    padding-left: 50px;
    
    
    
    padding-right: 15px;
    padding-left: 15px;
    */

.TheContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.TheContainer h1 {
    padding-bottom: 2rem;
}

.qualRow {
    
  padding-bottom: 5rem;
  padding-left: 20vh;
  padding-right: 20vh;
}


.qualRow:after {
  content: '';
  display: table;
  clear: both;
}

.exCol1{ 
    float: left;
    width: 30%;
    position: relative;
    min-height: 1px;
    
}
.exCol2 {
    width: 65%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    
    padding-left: 3rem;
}

#timePeriod {
    color: #00a4d6;
}




















@media screen and (max-width: 1000px) {
  
    #my-img:before {
        width: 130px;
        height: auto;
    }
  
  .column-left {
    width: 100%;
    
  }
  
  .column-right {
    width: 100%;
  }
  
  .column-center {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  .exCol1 {
    width: 100%;
    padding-top: 3rem;
  }
  
  .exCol2 {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
  }
  
  .qualRow {
    
      padding-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
}


/*HEROOOO*/

#matrix-hero {
  max-width: 100%;
  background-color: #001;
}

