body {
 /*   background-color: #c3f7f5;
 background-color: #defffd;*/
 background-color: #faffff;
 font-size: 1.6rem;
}

a {
    color: #24a7f2;
}

h1 {
  color: #2291A3 ;
  padding-top: 2rem;
}
.h1 {
    
  color: #2291A3;
  font-weight: 600;
  text-align: center;
  font-size: 3.5rem;
}

h2 {
   color: black ;
  font-size: 2.8rem;
}

p {
    color: #161717;
}

hr {
   
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1.5px 0 0 0; 
  border-radius: 20px; 
  width: 80%;
  margin-top: 8rem;
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1.5px 0; 
  border-radius: 20px; 
}



/*

.col {
    max-width: none;
}


#personal {
    position: relative;
	width: 33.3333%;
	
	float: left;
}

#imgMid {
    position: relative;
    width: 33.3333%;
    text-align: center;
    
}

#my-img {
  height: auto;
}

#details {
    width: 33.3333%;
    float: right;
    position: relative;
}
*/

.about {
  margin-top: 2rem;
  display: flex;
align-content: center;
justify-content: center;
}

.about h2 {
   color: #2291A3 ;
}

#aboutHead {
  text-align: center;
  padding-top: 2rem;
  font-weight: 500;
}



#my-img {
  padding-top: 2rem;
}

.rowAbout:after {
  content: "";
  display: table;
  clear: both;
}

.column-left{ 
  float: left;
  width: 33.3333%;
}
.column-right{ 
  float: right;
  width: 33.3333%;
}
.column-center{ 
  display: inline-block; 
  width: 33.3333%; 
  text-align: center;
}




#list-item {
  color: #111212;
  font-weight: 700;
}

.detail-list {
    list-style: none;
    padding-left: 0;
    color: #161717;
}

.detail-list p {
  padding-top: 0.8rem;
  margin: 0;
}


.mySkills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  color: #161717;
}

.mySkills h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.skills {
  width: 50%;
  
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: #24d680;
  border-radius: 8px;
  width: 0%;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.TheContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.TheContainer h1 {
  padding-bottom: 2rem;
}


.qualRow {
    
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


.qualRow:after {
  content: '';
  display: table;
  clear: both;
}

.exCol1{ 
    float: left;
    width: 30%;
    position: relative;
    min-height: 1px;
    
}
.exCol2 {
    width: 65%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    
    padding-left: 3rem;
}

#timePeriod {
    color: #00a4d6;
}


#quali {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HEROOOO*/

#matrix-hero {
  max-width: 100%;
  background-color: #001;
  position: relative;
  z-index: 10;
}

/* navigation */


  /* The sidebar menu */
.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 30%; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-left: 2.2rem;
  border-radius: 10px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

a:active {
    background-color: #00cfff;
}



/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  display: block;
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #2291A3;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */




@media screen and (max-width: 1000px) {
  
  .TheContainer {
    width: 80%;
    margin-left: 10%;
  }
  
  p {
    font-size: 1.6rem;
  }
  
    #my-img:before {
        width: 130px;
        height: auto;
    }
  
  .column-left {
    width: 100%;
    
  }
  
  .column-right {
    width: 100%;
  }
  
  .column-center {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  
  .exCol1 {
    width: 100%;
    padding-top: 3rem;
  }
  
  .exCol2 {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
  }
  
  .qualRow {
    
      padding-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    
  .sidenav {
    width: 15%;
    margin-left: 1rem;
  }
  .sidenav a {
    font-size: 18px;
    text-align: center;
    
  }
  
 
  
}


 /*MOBILE MENU */
   /* Style the navigation menu */
.mobileMenu {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.mobileMenu #myLinks {
  display: none;
}

/* Style navigation menu links */
.mobileMenu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.mobileMenu a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.mobileMenu a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
} 
  
  .mobileMenu {
    display: none;
  }

@media only screen and (max-device-width : 640px) {
  .mobileMenu {
    display: block;
  }
  
  .sidenav {
    display: none;
  }
}

@media only screen and (max-device-width: 768px) {
.mobileMenu {
    display: block;
  }
  
  .sidenav {
    display: none;
  }
  
  .TheContainer {
    width: 100%;
  }
}